.container {
    width: 90%;
    height: 750px;
    margin: 20px auto;
}

div > h4{
    margin-bottom: 20px;
}

.bi-clock {
    margin: 4px 6px;
}

.bi-check2{
    margin-left: 10px;
    margin-right: 2px;
}

.card {
    margin-top: 18px;
}

.bi-arrow-right{
    margin-left: 5px;
}

.message {
    margin-top: 10px;
}

.label{
    font-size: 15px;
}